header {
  position: absolute;
  right: 5%;
  top: 1%;
}

body {
  padding: 0px;
  margin: 0px;
}

.headli {
  display: inline-block;
}

ul li a {
  color: rgb(41, 41, 41);
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  font-weight: 200;
}

ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5%;
}

#formul2, #formul1 {
  list-style-type: none;
  line-height: 40px;
  display: inline-block;
  border: none;
  margin-top: 15px;
}

#formul1 {
  padding-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 100;
}

#formul2 {
  float: right;
  padding-left: 5px;
}

#find {
  margin-top: 0px;
  padding-left: 30px;
  color: rgb(46, 46, 46);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.adv {
  height: 25px;
  border-radius: 2px;
  outline: none;
  border: 1px solid rgba(153, 153, 153, 0.562);
  width: 555px;
  padding-left: 10px;
}

.adv:focus {
  box-shadow: inset 0px 1px 2px 0.5px rgb(206, 206, 206);
  border: 1px solid rgb(92, 160, 250);
}

#advsearch {
  background-color: rgb(102, 102, 255);
  color: white;
  font-weight: 600;
  height: 32px;
  width: 140px;
  font-size: 13px;
  border-radius: 3px;
  text-align: center;
  margin-left: 100%;
  transform: translate(-100%, 0%);
}

#formdiv {
  border: none;
  width: 785px;
  position: relative;
  top: 130px;
}

@media only screen and (max-width: 1200px) {
  .adv {
    width: calc(48vw - 20px);
  }
  #formdiv {
    width: calc(180px + 52%);
  }
}
#titleadv {
  padding-left: 30px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.493);
  color: rgb(240, 0, 0);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  position: relative;
  top: -5vw;
  width: 100vw;
  margin: 0px;
  margin-left: -2px;
}