.google_buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    text-align: center;
}

#qtext {
    text-align: left;
    height: 44px;
    width: 530px;
    border-radius: 350px;
    border: 1px solid rgb(209, 202, 202);
    padding-left: 45px;
    font-size: 16px;
    background: url('../images/search_pic.jpg') no-repeat left;   /*you must fix this*/
    background-position: 3% 50%;
    background-size: 19px;
}
%sdow {
    box-shadow: 0 0 10px rgb(160, 158, 158);
}
input[type="text"]#qtext:hover{
    @extend %sdow;
}
input[type="text"]#qtext:focus{
    @extend %sdow;
    outline: none;
}
@media only screen and (max-width:615px){
    #qtext{
        width: 86vw;
    }
}

%button{
    height: 35px;
    text-align: center;
    border: 0px;
    border-radius: 4px;
    background-color: rgba(214, 214, 214, 0.275);
    font-weight: 500;
    color: rgb(26, 26, 26);
}

#inp_g{
    @extend %button;
    width: 110px;
}

#inp_l{
    @extend %button;
    width: 130px;
}

input[type="submit"]#inp_g:hover, input[type="submit"]#inp_l:hover{
    border: 1px solid rgb(167, 161, 161);
}

#snip {
    line-height: 0.85;
}